################################################################################
# C++
################################################################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

################################################################################
# Tests
################################################################################

# Builds and CMake
tests/build/*
!tests/build/*.sh

################################################################################
# Misc
################################################################################

.DS_Store

################################################################################
# DSP - RND
################################################################################

tables/wavetables/.ipynb_checkpoints
tables/envelopes/.ipynb_checkpoints